*, *::before, *::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, p, ul, li, figure {
	margin: 0;
}

ul {
	list-style: none;
	padding: 0;
}

img {
	max-width: 100%;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

button {
	font: inherit;
	cursor: pointer;
}
