@use "../abstracts/variables" as v;

body {
	font-family: v.$font-base;
	font-size: 16px;
	line-height: 1.5;
	color: v.$color-text;
	background: v.$color-bg;
}

h1,
h2,
h3 {
	font-weight: 600;
	line-height: 1.2;
}
